<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="ImeSense.WixToolset.ThemeViewer.Package" Name="ImeSense WiX Toolset Theme Viewer" Manufacturer="$(Company)" Language="1033" Version="!(bind.fileVersion.ThmViewerFile)">
    <Component>
      <File Id="ThmViewerFile" Source="thmviewer.exe" />
      <Shortcut Name="!(bind.property.ProductName)" Directory="ShortcutFolder" Advertise="yes" />
      <RemoveFolder Directory="ShortcutFolder" On="uninstall" />
    </Component>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="ImeSenseFolder" Name="ImeSense">
        <Directory Id="WixToolsetFolder" Name="WiX Toolset">
          <Directory Id="INSTALLFOLDER" Name="$(SetupMajorMinorVersion)" />
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ShortcutFolder" Name="ImeSense WiX Toolset" />
    </StandardDirectory>
  </Fragment>

</Wix>
